﻿<h1>{{title}}</h1>
<nav>
    <a routerLink="/meals" routerLinkActive="active">Meals</a>
    <a routerLink="/users" routerLinkActive="active">Users</a>
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
    <a routerLink="/logout" routerLinkActive="active">Logout</a>
</nav>
<router-outlet></router-outlet>