﻿<form #f="ngForm" (ngSubmit)="onLogin()" *ngIf="!auth.loggedIn()">
    <input type="text" placeholder="username"
           [(ngModel)]="credentials.username" name="username"
           #username="ngModel"
           required>
    <input type="password" placeholder="password"
           [(ngModel)]="credentials.password" name="password"
           #password="ngModel"
           required>
    <button type="submit">Submit</button>
</form>
<register></register>