﻿<div *ngIf="meal">
    <form (ngSubmit)="save()" #mealForm="ngForm">
        <h2>{{meal.description}} details!</h2>
        <div>
            <label>id: </label>{{meal.id}}
        </div>
        <div>
            <label>description: </label>
            <input [(ngModel)]="meal.description" name="description"
                   placeholder="description"
                   #description="ngModel" />
        </div>
        <div>
            <label>calories: </label>
            <input [(ngModel)]="meal.calories" name="calories"
                   placeholder="calories"
                   #calories="ngModel" />
        </div>
        <div>
            <label>eaten at: </label>
            <input [(ngModel)]="meal.eaten_at" name="eaten_at"
                   placeholder="eaten at"
                   ngui-datetime-picker
                   #eaten_at="ngModel" />
        </div>
        <button (click)="goBack()">Back</button>
        <button type="submit" [disabled]="!mealForm.form.valid">Submit</button>
    </form>
</div>