﻿<h2>My Meals</h2>

<div class="row text-center">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary"
                 mwlCalendarPreviousView
                 [view]="view"
                 [(viewDate)]="viewDate"
                 (viewDateChange)="ngOnChanges()">
                Previous
            </div>
            <div class="btn btn-secondary"
                 mwlCalendarToday
                 [(viewDate)]="viewDate">
                Today
            </div>
            <div class="btn btn-primary"
                 mwlCalendarNextView
                 [view]="view"
                 [(viewDate)]="viewDate"
                 (viewDateChange)="ngOnChanges()">
                Next
            </div>
        </div>
    </div>
</div>
<br>

<div class="row text-center">
    <div class="col-md-4">
        <div class="form-group">
            <label for="calories">Start date</label>
            <input class="form-control" type="text" name="start_date"
                   [(ngModel)]="filter_date.start_date"
                   placeholder="2017-12-31"
                   date-only="true"
                   ngui-datetime-picker />
        </div>
        <div class="form-group">
            <label for="calories">End date</label>
            <input class="form-control" type="text" name="end_date"
                   [(ngModel)]="filter_date.end_date"
                   placeholder="2017-12-31"
                   date-only="true"
                   ngui-datetime-picker />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="calories">Start time</label>
            <input class="form-control" type="text" name="start_time"
                   [(ngModel)]="filter_date.start_time"
                   placeholder="12:00" />
        </div>
        <div class="form-group">
            <label for="calories">End time</label>
            <input class="form-control" type="text" name="end_time"
                   [(ngModel)]="filter_date.end_time"
                   placeholder="12:00" />
        </div>
    </div>
    <div class="col-md-4">
        <br /><br />
        <button class="btn" name="filter_date" (click)="getFilteredMeals()">Filter meals</button>
    </div>
</div>

<mwl-calendar-month-view [viewDate]="viewDate"
                         [events]="events"
                         [refresh]="refresh"
                         (eventClicked)="eventClicked($event)"
                         [activeDayIsOpen]="activeDayIsOpen"
                         (dayClicked)="dayClicked($event.day)"
                         [dayModifier]="addCssClass">
</mwl-calendar-month-view>
<meal-add (mealAdded)="ngOnChanges()"></meal-add>