﻿<h2>Add Meal</h2>
<form (ngSubmit)="onSubmit()" #mealForm="ngForm">
    <div class="form-group">
        <label for="description">description</label>
        <input type="text" class="form-control" id="description"
                required
                [(ngModel)]="model.description" name="description"
                #description="ngModel">
        <div [hidden]="description.valid || description.pristine"
                class="alert alert-danger">
            Description is required
        </div>
    </div>
    <div class="form-group">
        <label for="calories">calories</label>
        <input type="text" class="form-control" id="calories"
                required
                [(ngModel)]="model.calories" name="calories"
                #calories="ngModel">
        <div [hidden]="calories.valid || calories.pristine"
                class="alert alert-danger">
            Calories are required
        </div>
    </div>
    <div class="form-group">
        <label for="eaten_at">eaten at</label>
        <input type="text" class="form-control" id="eaten_at"
                required
                [(ngModel)]="model.eaten_at" name="eaten_at"
                ngui-datetime-picker
                #eaten_at="ngModel">
        <div [hidden]="eaten_at.valid || eaten_at.pristine"
                class="alert alert-danger">
            Time is required
        </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!mealForm.form.valid">Submit</button>
</form>