﻿<div *ngIf="model">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <h2>Your profile</h2>
        <div>
            <label>username: </label>{{model.username}}
        </div>
        <div>
            <label>email: </label>
            <input [(ngModel)]="model.email" name="email"
                    placeholder="email"
                    #email="ngModel" />
        </div>
        <div>
            <label>daily calorie target: </label>
            <input [(ngModel)]="model.daily_target" name="daily_target"
                    placeholder="daily_target"
                    #daily_target="ngModel" />
        </div>
        <button type="submit" [disabled]="!userForm.form.valid">Submit</button>
    </form>
</div>