﻿<h2>Add User</h2>
<form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
        <label for="name">username</label>
        <input type="text" class="form-control" id="username"
               required
               [(ngModel)]="model.username" name="username"
               #username="ngModel">
        <div [hidden]="username.valid || username.pristine"
             class="alert alert-danger">
            Username is required
        </div>
    </div>
    <div class="form-group">
        <label for="name">email</label>
        <input type="text" class="form-control" id="calories"
               required
               [(ngModel)]="model.email" name="email"
               #email="ngModel">
        <div [hidden]="email.valid || email.pristine"
             class="alert alert-danger">
            Email is required
        </div>
    </div>
    <div class="form-group">
        <label for="name">daily calorie target</label>
        <input type="text" class="form-control" id="daily_target"
               required
               [(ngModel)]="model.daily_target" name="daily_target"
               #daily_target="ngModel">
        <div [hidden]="daily_target.valid || daily_target.pristine"
             class="alert alert-danger">
            Daily target is required
        </div>
    </div>
    <div class="form-group">
        <label for="name">password</label>
        <input type="text" class="form-control" id="password"
               required
               [(ngModel)]="model.password" name="password"
               #password="ngModel">
        <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
            Password is required
        </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>
</form>