﻿<div *ngIf="user">
    <form (ngSubmit)="save()" #userForm="ngForm">
        <h2>{{user.description}} details!</h2>
        <div>
            <label>id: </label>{{user.id}}
        </div>
        <div>
            <label>username: </label>
            <input [(ngModel)]="user.username" name="username"
                   placeholder="username"
                   #username="ngModel" />
        </div>
        <div>
            <label>email: </label>
            <input [(ngModel)]="user.email" name="email"
                    placeholder="email"
                    #email="ngModel" />
        </div>
        <div>
            <label>daily calorie target: </label>
            <input [(ngModel)]="user.daily_target" name="daily_target"
                    placeholder="daily_target"
                    #daily_target="ngModel" />
        </div>
        <button (click)="goBack()">Back</button>
        <button type="submit" [disabled]="!userForm.form.valid">Submit</button>
    </form>
</div>